html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

#container {
    height: 85%;
    position: relative;
    overflow: hidden;
    background-color: #ef3d36;
}

#score_help {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    font-size: 5vh;
    background-color: #fff;
    height: 15%;
    color: brown;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: bolder;
    padding: 0 5vw;
}


#branch {
    position: absolute;
    height: 3vh;
    width: 100%;
    background-color: #fac814;
    z-index: 1;
}

.hen {
    position: absolute;
    height: 15%;
    width: 8%;
    top: 10%;
    background: url('hen-right.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
}

#hen1 {
    left: 20%;
}

#hen2 {
    left: 40%;
}

#hen3 {
    left: 60%;
}

.egg {
    position: absolute;
    top: 5%;
    height: 12vh;
    width: 15vw;
    z-index: 99;
    border: none;
}

#egg1 {
    left: 0%;
}

#egg2 {
    left: 40%;
}

#egg3 {
    left: 80%;
}

.bullseye {
    display: none;
    position: absolute;
    bottom: 0px;
    height: 7%;
    width: 7%;
    background: url('bullseye1.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 11;
}

#bullseye1 {
    left: calc(20% + 8%/2 - 7%/2);
}

#bullseye2 {
    left: calc(40% + 8%/2 - 7%/2);
}

#bullseye3 {
    left: calc(60% + 8%/2 - 7%/2);
}

#floor {
    position: absolute;
    height: 7%;
    width: 100%;
    background-color: #292929;
    bottom: 0;
    z-index: -10;

}

#basket {
    height: 22vh;
    width: 30vw;
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 0px;
    z-index: 1100;
    display: block;
    /* background-color: #fff; */
}

#dish {
    position: absolute;
    top: -5.5%;
    left: -3%;
    height: 12vh;
    width: 15vw;
}

#restart {
    border: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: #fac814;
    color: #ef3d36;
    top: 40%;
    font-size: 35px;
    display: none;
    cursor: pointer;
    z-index: 101;
}

@media only screen and (max-width: 960px) {
    #score_help {
        justify-content: space-between;
        font-size: 3vh;
    }

    .egg{
        height: 12vh;
        width: 20vw;
    }

    #dish{
        height: 12vh;
        width: 20vw;
        left: 2%;
    }

    #basket{
        height: 20vh;
        width: 53vw;
    }
}